@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin: 10px;
  }
  h2 {
    border-bottom: 1px solid $black;
  }

  .accountsContainer {
    margin-top: 10px;
    width: 95%;
  }
}

@media (min-width: 786px) {
  .container {
    .accountsContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
